.form-input{
    padding: 10px 20px 10px 25px;
    background-image: $url-image-send;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    @include define-borders(none, none, none, solid 0.1em $color-primary);
}