@import "lib/_variables.styl"
@import "lib/_mixins.styl"
/*@import "lib/_functions.styl"

@import "elements/_buttons.styl"
@import "elements/_fonts.styl"
@import "elements/_inputs.styl"

@import "layout/_cards.styl"
@import "layout/_layout.styl"*/


.clasification
    width: 500px;
    &:hover
        background: blue
    .ie-8 &
        &:before
            color:red;
            img
                padding: 2px;


body
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif
  background: black
  text-color: #ccc

form input
  padding: 5px
  border: 1px solid
  border-radius: 5px

p
  font-size: font-size-normal;

