/* --- General --- */
body {
  margin: 0;
  /*font-family: 'system-ui';*/
  font-family: 'Roboto', sans-serif;
}
:root {
  --color: color(#151b31);
  /*--color: color(#151b31 contrast(30%));*/
  /*--color: color(#151b31);*/
  /*--color: color(#151b31 alpha(90%));*/
  --primaryColor: #ff344f;
  --h: {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply --h;
}
