<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/jpg" href="./img/my_photo.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Open+Sans:400,700,700i,800&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Portafolio</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <figure class="logotype">
          <img
            alt="Logo KR"
            src="./img/my_photo.jpg"
            width="50px"
            height="50px"
          />
        </figure>
        <nav class="menu">
          <ul>
            <li>
              <a href="#experiencia">Experiencia</a>
            </li>
            <li>
              <a href="#proyectos-personales">Proyectos personales</a>
            </li>
            <li>
              <a href="#contacto">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero">
      <div class="container">
        <h1>
          Hola soy <strong>Karina</strong> <br />desarrolladora de software
          <br />
          con pasión por la <strong>programación</strong>
        </h1>
        <img src="./img/key-board.jpg" width="400px" height="300px" />
      </div>
    </section>
    <section class="contact" id="contacto">
      <div class="container">
        <form class="form-email" action="/suscription/">
          <h3 class="form-title">Contacto</h3>
          <input class="form-input" type="text" placeholder="@example.com" />
          <input class="form-button" type="submit" value="Enviar" />
        </form>
        <div class="social">
          <a
            href="https://twitter.com/betzy_skamm"
            class="social-link twitter"
            target="_blank"
          ></a>
          <a
            href="https://www.linkedin.com/in/karina-betzabe-romero-ulloa-0834b363/"
            class="social-link linkedin"
            target="_blank"
          ></a>
          <a
            href="https://github.com/KarinaRomero"
            class="social-link github"
            target="_blank"
          ></a>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div>
          <p>
            Curso de desarrollo web 2019
          </p>
        </div>
        <div>
          <p>
            Designed with :heart: by <a>KR</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
