body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
img {
  width: 100vw;
  height: 150vh;
}
.nav {
  font-size: 1.5em;
  width: 100vw;
  height: 4em;
  background-color: #4abdac;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -0.2em rgba(255, 255, 255, 1);
  padding: 0 2em;
}
.icon {
  color: white;
  width: 50px;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.icon:before {
  content: "\f0f3";
  font-family: "FontAwesome";
  display: block;
  color: transparent;
}
.icon::after {
  background-color: #FC4A1A;
  content: attr(data-count);
  font-size: 11px;
  font-weight: bold;
  padding: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  min-width: 14px;
  max-width: 14px;

  position: absolute;
  top: 12px;
  right: 2px;
  opacity: 0;
  transition: .3s;
  transform: scale(0.5);
  will-change: transform, opacity;
}
.animate-notification {
  transform-origin: center top;
  animation: bell 1s;
  animation-timing-function: ease-out;
}
.header-modal{
  display: flex;
  align-items: end;
  justify-content: flex-end;
}
.icon.notify::after {
  opacity: 1;
  transform: scale(1);
}
.wrapper {
  padding: 2em;
}
.btn.active-modal{
  background-color: #FC4A1A;
  box-shadow: inset 0 -0.3em rgba(175, 44, 9, 1);
  color: white;
  border-radius: 50%;
  padding: 50%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.8s ease-in;
  opacity: 0;
  visibility: hidden;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modal {
  max-width: 500px;
  background-color: #f7B733;
  animation: in 0.8s;
  padding: 2em;
  border-radius: .5em;
  text-align: center;
}
.btn.primary{
  background-color: #FC4A1A;
  box-shadow: inset 0 -0.3em rgba(175, 44, 9, 1);
  color: white;
}
.btn.secondary{
  background-color: #DFDCE3;
  box-shadow: inset 0 -0.3em rgba(143, 138, 150, 1);
  color: #FC4A1A;
}
.btn {
  text-align: center;
  padding: .6em .8em;
  border: none;
  margin: 5px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;

  outline: 0;
  transition: .2s;
  will-change: transform;
}
.btn.primary:hover {
  background-color: #AF2C09;
}
.btn.secondary:hover {
  background-color: #8F8A96;
}
@keyframes in {
  0% {
    transform: translateY(-3000px);
  }
  60% {
    transform: translateY(25px);
  }
  75% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(5px);
  }
}
@keyframes out {
  0% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(-15px);
  }

  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(-3000px);
  }
}
@keyframes bell {
  0% {
    transform: rotate(35deg);
  }
  12.5% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(25deg);
  }
  37.5% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
}