/*font-family-base: "Ubuntu", sans-serif
font-family-header: "Roboto", Arial*/

font-size-small = 16px
font-size-normal = 25px
font-size-big = 60px

/*color-brand: #ffffff
color-primary: #000000
color-secondary: #BFBFBF

color-alert: yellow
color-warning: red

margin-base: 1em
padding-base: 1em
border-radius-base: 5px;*/